button {
  background-color: #fef5a1;
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
  font-weight: bold;
  margin: 20px;
  border: 1px solid black;
}

select {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;

}

li {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 4px;

}

